.about {
  padding: 40px 0;

  @media ($tablet) {
    padding-top: 55px;
    padding-bottom: 70px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 55px;

  font-size: 28px;
  text-align: center;

  @media ($tablet) {
    margin-bottom: 80px;

    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list;

  @media ($tablet) {
    margin-bottom: 50px;
  }

  @media ($desktop) {
    justify-content: space-between;
  }
}

.about__item {
  margin-bottom: 50px;
  width: 200px;

  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media ($tablet) {
    margin: 0 10px 50px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media ($desktop) {
    margin: 0;
  }
}

.about__text {
  margin: 0;

  font-size: 16px;
}

.about__link {
  display: none;

  @media ($tablet) {
    display: block;
    width: 230px;
  }
}
