.advantages {
  padding-top: 40px;
  padding-bottom: 55px;

  text-align: center;

  background-color: $darkblue;
  background-image: url("../img/common-bcg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @include retina() {
    background-image: url("../img/common-bcg-mobile@2x.jpg");
  }

  @media ($tablet) {
    padding: 70px 0;

    background-image: url("../img/common-bcg-tablet.jpg");

    @include retina() {
      background-image: url("../img/common-bcg-tablet@2x.jpg");
    }
  }
}

.advantages__text {
  margin: 0 auto;
  margin-bottom: 35px;

  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  color: $white;

  @media ($tablet) {
    margin-bottom: 65px;
    width: 670px;

    font-size: 40px;
    line-height: 48px;
  }
}

.advantages__info {
  padding: 35px 18px 40px;

  background-color: $white;

  border-radius: 12px;

  @media ($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 48px 28px 60px;
    box-sizing: border-box;
    max-width: 800px;
    min-height: 380px;
  }
}

.advantages__approach {
  position: relative;

  margin-bottom: 60px;
  padding-top: 105px;

  background-image: url("../img/main-logo.png");
  background-repeat: no-repeat;
  background-size: 88px 88px;
  background-position: top center;

  &::after {
    content: "";

    position: absolute;
    right: 15px;
    bottom: -28px;
    left: 15px;

    height: 1px;

    background-color: $darkgray;

    opacity: 0.5;

    @media ($tablet) {
      top: 0;
      right: -26px;
      bottom: 0;
      left: auto;

      width: 1px;
      height: auto;
    }
  }

  @media ($tablet) {
    margin-bottom: 0;
    width: 46%;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 28px;
  font-weight: 800;
  line-height: 34px;

  @media ($tablet) {
    margin-bottom: 25px;
  }
}

.advantages__desc {
  margin: 0;

  font-size: 16px;
}

.advantages__list {
  @include list;
  text-align: left;

  @media ($tablet) {
    width: 45%;
  }
}

.advantages__item {
  position: relative;

  margin-bottom: 15px;
  padding-left: 33px;

  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__icon {
  position: absolute;
  top: 4px;
  left: 0;
}
