.assortment {
  padding-top: 40px;
  padding-bottom: 55px;

  color: $white;
  text-align: center;

  background-color: $darkblue;
  background-image: url("../img/common-bcg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @include retina() {
    background-image: url("../img/common-bcg-mobile@2x.jpg");
  }

  @media ($tablet) {
    padding: 70px 0 55px;

    background-image: url("../img/common-bcg-tablet.jpg");

    @include retina() {
      background-image: url("../img/common-bcg-tablet@2x.jpg");
    }
  }

  @media ($desktop) {
    background-image: url("../img/common-bcg-desktop.jpg");

    @include retina() {
      background-image: url("../img/common-bcg-desktop@2x.jpg");
    }
  }
}

.assortment__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 28px;
  line-height: 36px;

  @media ($tablet) {
    font-size: 40px;
    line-height: 48px;
  }
}

.assortment__desc {
  margin: 0;
  margin-bottom: 25px;

  font-size: 20px;
  line-height: 26px;

  @media ($tablet) {
    margin: 0 auto 25px;
    width: 650px;

    font-size: 28px;
    line-height: 36px;
  }

  @media ($desktop) {
    width: 815px;
  }
}

.assortment__text {
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 24px;

  @media ($tablet) {
    margin-bottom: 55px;

    font-size: 20px;
    line-height: 26px;
  }

  @media ($desktop) {
    margin: 0 auto 55px;
    width: 750px;
  }
}

.assortment__list {
  @include list;
  margin: 0 auto;
  width: 272px;

  @media ($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: auto;
  }

  @media ($desktop) {
    width: 900px;
  }
}

.assortment__item {
  position: relative;

  margin-bottom: 15px;
  padding: 24px 16px 15px;

  background-color: rgba(0, 0, 0, 0.3);

  border-radius: 12px;

  box-shadow: 0 8px 24px 0 rgba(69, 90, 100, 0.16);
  backdrop-filter: blur(4px);

  &:last-child {
    margin-bottom: 0;
  }

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 15px;
    box-sizing: border-box;
    max-width: 280px;
    width: 30%;
    min-height: 330px;

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.assortment__decore {
  position: absolute;
  top: 16px;

  width: 48px;
  height: 48px;
}

.assortment__picture {
  @media ($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 250px;
  }
}
