.composition {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: none;
  padding: 25px 16px;

  color: $white;

  background-color: rgba(69, 90, 100, 0.9);

  border-radius: 8px;

  &--active {
    display: block;
  }

  @media ($tablet) {
    padding: 25px 24px;
  }
}

.composition__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
}

.composition__close {
  position: absolute;
  top: 16px;
  right: 16px;

  padding: 0;
  width: 18px;
  height: 20px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 9px;
    right: 0;

    width: 17px;
    height: 2px;

    background-color: $white;

    border-radius: 10px;

    opacity: 0.8;

    transition: 0.2s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $green;
    }
  }
}

.composition__list {
  @include list;
}
