.delivery {
  padding: 55px 0;

  @media ($tablet) {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.delivery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list;
  margin-bottom: 40px;

  @media ($tablet) {
    justify-content: space-between;
    margin: 0 auto;
    width: 440px;
  }
}

.delivery__item {
  margin-bottom: 50px;
  width: 200px;

  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media ($tablet) {
    margin-bottom: 70px;
  }
}

.delivery__text {
  margin: 0;

  font-size: 16px;

  &--short {
    padding: 0 10px;
  }
}

.delivery__order {
  text-align: center;
}

.delivery__slogan {
  margin: 0;
  margin-bottom: 35px;

  font-size: 28px;
  font-weight: 800;
  line-height: 36px;

  @media ($tablet) {
    margin-bottom: 50px;

    font-size: 40px;
    line-height: 48px;
  }
}

.delivery__icon {
  margin-bottom: 25px;

  @media ($tablet) {
    margin-bottom: 60px;

    width: 185px;
    height: 160px;
  }
}

.delivery__link {
  margin: 0 auto;
  width: 188px;

  @media ($tablet) {
    width: 230px;
  }
}
