.faq {
  padding-top: 40px;
  padding-bottom: 55px;

  background-color: rgba(236, 239, 241, 0.3);

  @media ($tablet) {
    padding: 70px 0;
  }
}

.faq__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;

  @media ($tablet) {
    margin-bottom: 50px;

    font-size: 40px;
    line-height: 48px;
  }
}

.faq__list {
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include list;
  margin-bottom: 50px;
}

.faq__item {
  display: block;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;

  font-size: 16px;
  color: $darkgray;

  &--active {
    color: $darkblue;

    border-bottom: 4px solid $green;
  }
}

.faq__container {
  margin: 0 auto;
  max-width: 800px;
}

.faq__answers {
  display: none;

  @include list;

  background-color: $white;

  border-radius: 12px;

  box-shadow: 0 8px 24px 5px rgba(69, 90, 100, 0.16);

  &--active {
    display: block;
  }
}

.faq__answer {
  position: relative;

  padding: 16px;

  border-bottom: 1px solid rgba(176, 190, 197, 0.3);

  &:last-child {
    border-bottom: none;
  }

  &--active {
    .faq__close::before {
      transform: rotate(45deg);
    }

    .faq__close::after {
      transform: rotate(-45deg);
    }
  }

  @media ($tablet) {
    padding: 24px;
  }
}

.faq__close {
  position: absolute;
  top: 16px;
  right: 16px;

  padding: 0;
  width: 18px;
  height: 20px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 9px;
    right: 0;

    width: 17px;
    height: 2px;

    background-color: $darkblue;

    border-radius: 10px;

    transition: 0.2s;

    opacity: 0.6;
  }

  &::before {
    transform: rotate(0deg);
  }

  &::after {
    transform: rotate(90deg);
  }
}

.faq__subtitle {
  margin: 0;
  padding-right: 25px;

  font-size: 16px;
  font-weight: 700;

  @media ($tablet) {
    padding-right: 60px;

    font-size: 20px;
  }

  @media ($desktop) {
    padding-right: 45px;
  }
}

.faq__content {
  display: none;
  padding-top: 15px;

  @media ($tablet) {
    padding-top: 25px;
    padding-right: 180px;
  }

  @media ($desktop) {
    padding-right: 175px;
  }
}

.faq__text {
  margin: 0;
}
