.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  background-color: $white;

  box-shadow: 0 2px 24px 0 rgba(69, 90, 100, 0.2);
}

.header__wrapper {
  padding: 16px 20px;

  @media ($tablet) {
    position: relative;

    padding: 11px 48px;
  }

  @media ($laptop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media ($desktop) {
    margin: 0 auto;
    padding: 11px 0;
    width: 1216px;
  }
}

.header__info {
  display: none;

  @media ($tablet) {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;

    display: block;
  }

  @media ($laptop) {
    position: static;
  }
}

.header__phone {
  @media ($tablet) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    height: 18px;
  }

  @media ($laptop) {
    height: auto;
  }
}

.header__phone-icon {
  @media ($laptop) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.header__phone-link {
  @media ($tablet) {
    display: none;
  }

  @media ($laptop) {
    display: inline-block;
    vertical-align: middle;

    font-size: 20px;
    font-weight: 700;
    color: $darkblue;
    text-decoration: none;
  }
}

.header__link {
  @media ($tablet) {
    display: inline-block;
    vertical-align: middle;
    padding: 14px;
    width: 215px;

    font-size: 14px;
  }

  @media ($laptop) {
    display: none;
  }

  @media ($desktop) {
    display: inline-block;
  }
}

.header__link-back {
  position: relative;

  color: $darkblue;
  text-decoration: none;

  transition: 0.2s;

  &::before {
    content: "";

    position: absolute;

    top: 3px;
    left: -28px;

    width: 10px;
    height: 10px;

    border-top: 2px solid $darkgray;
    border-left: 2px solid $darkgray;

    transform: rotate(-45deg);

    transition: 0.2s;
  }

  &::after {
    content: "";

    position: absolute;

    top: 8px;
    left: -28px;

    width: 15px;
    height: 2px;

    background-color: $darkgray;

    transition: 0.2s;
  }

  &:hover,
  &:focus {
    color: $green;

    &::before {
      border-top: 2px solid $green;
      border-left: 2px solid $green;
    }

    &::after {
      background-color: $green;
    }
  }
}
