.intro {
  padding-top: 190px;
  padding-bottom: 55px;

  color: $white;

  background-color: $darkblue;
  background-image: url("../img/intro-bcg-tablet.jpg");
  background-repeat: no-repeat;
  background-size: 768px auto;
  background-position: top center;

  @include retina() {
    background-image: url("../img/intro-bcg-tablet@2x.jpg");
  }

  @media ($tablet) {
    padding-top: 128px;
    padding-bottom: 70px;

    background-size: cover;

    overflow: hidden;
  }

  @media ($desktop) {
    padding-top: 145px;
    padding-bottom: 100px;

    background-image: url("../img/intro-bcg-desktop.jpg");

    @include retina() {
      background-image: url("../img/intro-bcg-desktop@2x.jpg");
    }
  }
}

.intro__wrapper {
  position: relative;
}

.intro__content {
  width: 272px;

  @media ($tablet) {
    width: 430px;
  }

  @media ($desktop) {
    width: 500px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 40px;
  line-height: 48px;

  @media ($tablet) {
    font-size: 56px;
    line-height: 64px;
  }
}

.intro__slogan {
  margin: 0;
  margin-bottom: 40px;

  font-size: 20px;

  @media ($tablet) {
    margin-bottom: 50px;

    font-size: 24px;
  }
}

.intro__img {
  position: absolute;
  top: -190px;
  right: 0;
  left: 0;

  margin: 0 auto;
  width: 272px;
  height: 175px;

  background-image: url("../img/intro-dish-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: top center;

  @include retina() {
    background-image: url("../img/intro-dish-mobile@2x.png");
  }

  @media ($tablet) {
    top: -80px;
    right: -8%;
    left: auto;

    margin: 0;
    width: 320px;
    height: 475px;

    background-image: url("../img/intro-dish-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include retina() {
      background-image: url("../img/intro-dish-tablet@2x.png");
    }
  }

  @media ($desktop) {
    top: -38px;
    left: 41%;

    width: 700px;
    height: 410px;

    background-image: url("../img/intro-dish-desktop.png");
    background-size: 819px auto;
    background-position: center;


    @include retina() {
      background-image: url("../img/intro-dish-desktop@2x.png");
    }
  }
}

.intro__link {
  @media ($tablet) {
    margin: 0;
    max-width: 305px;
  }
}
