.link {
  display: block;
  padding: 15px;
  box-sizing: border-box;
  min-width: 130px;

  font-size: 16px;
  font-weight: 700;
  color: $white;
  text-align: center;
  text-decoration: none;

  background-color: $green;

  border-radius: 4px;

  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: darken($green, 5%);
  }

  &:active {
    background-color: darken($green, 15%);
  }

  @media ($tablet) {
    margin: 0 auto;
    padding: 18px;

    font-size: 18px;
  }
}
