.page {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: $main-text-color;

  background-color: rgba(236, 239, 241, 0.3);

  &--form {
    .header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo__icon {
      display: none;

      @media ($tablet) {
        display: block;
      }
    }
  }
}

.page__text {
  color: $green;
}

.page__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 105px;
  height: 105px;

  background-color: rgba(100, 221, 23, 0.1);

  border-radius: 50%;

  @media ($tablet) {
    margin-bottom: 50px;
    width: 145px;
    height: 145px;
  }
}

.page__icon {
  &--food {
    width: 107px;
    height: 96px;
  }

  &--family {
    width: 89px;
    height: 107px;
  }

  &--microelements {
    width: 107px;
    height: 103px;
  }

  &--delivery-time {
    width: 104px;
    height: 86px;
  }

  &--salad {
    width: 99px;
    height: 99px;
  }
}

.page__basket {
  &--small {
    width: 100px;
    height: 130px;

    @media ($tablet) {
      width: 120px;
      height: 150px;
    }

    @media ($desktop) {
      width: 150px;
      height: 190px;
    }
  }

  &--medium {
    width: 120px;
    height: 150px;

    @media ($tablet) {
      width: 140px;
      height: 180px;
    }

    @media ($desktop) {
      width: 170px;
      height: 215px;
    }
  }

  &--big {
    width: 150px;
    height: 190px;

    @media ($tablet) {
      width: 170px;
      height: 215px;
    }

    @media ($desktop) {
      width: 200px;
      height: 250px;
    }
  }
}

img {
  width: 100%;
  height: auto;
}
