.reviews {
  padding-top: 40px;
  padding-bottom: 55px;

  text-align: center;

  @media ($tablet) {
    padding: 70px 0;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;

  font-size: 28px;
  font-weight: 800;
  line-height: 36px;

  @media ($tablet) {
    margin: 0 auto 55px;
    width: 590px;

    font-size: 40px;
    line-height: 48px;
  }
}

.reviews__link {
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
  width: 230px;

  background-color: $darkblue;

  border-radius: 4px;
  border: 1px solid transparent;

  transition: 0.2s;

  &:hover,
  &:focus {
    color: $darkblue;

    background-color: $white;

    border: 1px solid $darkblue;
  }

  @media ($tablet) {
    padding: 14px;
  }
}
